@use "./components/header/header";
@use "./components/search/search";
@use "./components/header/navigation/navigation";
@use "./components/header/navigation/categorypanel";
@use "./components/homeslider/homeslider";
@use "./components/homecatslider/homecatslider";
@use "./pages/home/home";
@use "./components/sdsbannerslider/adsbannerslider";
@use "./components/populartabs/populartabs.scss";
@use "./components/productitem/productitem";
@use "./components/blogitem/blogitem.scss";
@use "./components/blogslider.jsx/blogslider.scss";
@use "./components/footer/footer";
@use "./components/homesliderv2/homesliderv2";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    width: 100%;
    background-color: #f5f0f0;
}
