.admin-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #f8f9fb;

  .admin-body {
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  .admin-content {
    flex: 1;
    margin-left: 16rem; // correspond à la largeur de ta sidebar
    margin-top: 5px; // correspond à la hauteur de ton header
    padding: 1.5rem;
    background: #f9f9f9;
    overflow-y: auto;
    height: calc(100vh - 50px);
  }
}
.admin-layout.collapsed {
  .admin-content {
    margin-left: 5rem; // sidebar réduite
    transition: all 0.3s ease;
  }
}
